.card {
  display: grid;
  grid-template-rows: 1fr, 1fr, auto;
  
  grid-template-areas: "A" "B" "C";
  /*background: #F8F8F8;*/
}

.textH1 {
  grid-area: A;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 78px;
  margin: 1%;
  color: #111217;
}

.textH2 {
  grid-area: B;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  margin: 1%;
  color: #111217;
}

.box {
  grid-area: C;
  width: 26%;
  height: 90%;
  margin: 2%;
  place-items: center;
  border: 1px solid #111217;
  border-radius: 20px;
}

.textT1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  margin: 2%;
  color: #111217;
  text-decoration: none;
}

.box img {
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 50px;
}

.textT1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  margin: 2%;
  color: #111217;
  text-decoration: none;
}

.conteiner {
  width: 30%;
  height: 45px;
  background: rgba(61, 148, 47, 0.1);
  border-radius: 20px;
  /* margin: 2%; */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  border: 0px;
  color: rgba(0, 0, 0, 0.57);
}

.button {
  width: 30%;
  height: 45px;
  /* margin: 2%; */
  background: rgba(207, 165, 4, 0.21);
  border-radius: 20px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #111217;
  border: 0px
}
